<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Matchsmiths</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous" />
  <link rel="stylesheet" href="/static/css/style.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;500&display=swap" rel="stylesheet" />
  <script src="https://kit.fontawesome.com/8bdbf5ddef.js" crossorigin="anonymous"></script>
</head>

<body class="img-fluid" style="font-family: 'Jost', sans-serif">
  <section id="title">
    <div class="navstick">
      <nav class="glass navbar navbar-expand-lg fixed-top top ">
        <div class="container-fluid">
          <a href="/"><img src="/static/img/LoveMatchz.png" alt="" style="height: 4rem" /></a>
          <button class="navbar-toggler btn-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto " style="font-size: 1.3rem">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">
                  HOME
                </a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link" href="pricing.html"> PRICING</a>
              </li> -->
              <!-- <li class="nav-item">
                <a class="nav-link" href=""> ABOUT US</a>
              </li> -->
              <li class="nav-item">
                <a class="nav-link" href="#foot"> CONTACT US </a>
              </li>
            </ul>
          </div>

          <button type="button" class="btn btn-dark" style="
                margin: 0px 1.5% 0px 1%;
                border-radius: 16px;
                padding: 5px 21px;
              "
              >
              <a href="/login" class="nav-link"> LOGIN</a>
          </button>
          <!-- <button type="button" class="btn" style="
                margin: 0px 1.5% 0px 1%;
                border-radius: 16px;
                padding: 5px 21px;
                background-color: aliceblue;
              ">
            Login
          </button> -->
        </div>
      </nav>
    </div>
  </section>

  <section id="bg">
    <div class="mid">
      <div class=" main">
        <!-- <h2 style="text-align: center; padding: 10% 0px 0px 0px;"><b>WELCOME</b></h2> -->
        <h1 class="wel">
          <b>
            FOREVER STARTS HERE <br> <i class="fa-solid fa-infinity fa-sm" style="color: #dc143c;"></i></b>
        </h1>
        <a style="text-decoration: none; " href="/register"><button type="button" class="btn  mx-auto d-block btn_s">
            <h3 style="color: #ffffff; font-size: 1.2rem; text-align: center;">
              Let's Match
            </h3>
          </button></a>
      </div>
    </div>
  </section>
  <h6 class="text-center" style="color: black; font-size: 3rem; margin-top: 5%;margin-bottom: 3%; ">Testimonials</h6>
  <section class="whyus" style="padding: 5%;"><br>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <div class="card shadow-sm">
          
          <img class="bd-placeholder-img card-img-top" width="200" height="350" src="https://images.unsplash.com/photo-1591604466107-ec97de577aff?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8d2VkZGluZyUyMGNvdXBsZXxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60" >
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              
              
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img class="bd-placeholder-img card-img-top" width="200" height="350" src="https://images.unsplash.com/photo-1616165415772-f5b95c3ae135?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8d2VkZGluZyUyMGNvdXBsZXxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60" >
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img class="bd-placeholder-img card-img-top" width="200" height="350" src="https://images.unsplash.com/photo-1621621667797-e06afc217fb0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80" >
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              
            </div>
          </div>
        </div>
      </div>

      
      

      
  </div>
  </section>

  <section id="features" class="img-fluid">
    <div class="row " style="margin-top: 3%;">
      <div class="feat col-lg-4">
        <i class="fa-solid fa-circle-check fa-4x"></i>
        <h3 style="font-style: bold;">Verified profiles</h3>
        <p>Trust worthy profiles.</p>
      </div>

      <div class="feat col-lg-4">
        <i class="fa-solid fa-bullseye fa-4x"></i>
        <h3>Elite Clientele</h3>
        <p>Subscribe pro version</p>
      </div>
      <div class="feat col-lg-4">
        <i class="fa-solid fa-heart fa-4x"></i>
        <h3>Find your perfect love life</h3>
        <p>Find the love of your life </p>
      </div>
    </div>

  </section>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
    crossorigin="anonymous"></script>


  <footer id="foot">
    <!-- Footer -->
    <footer class="text-center text-lg-start bg-light text-muted">
      <!-- Section: Social media -->
      <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <!-- Left -->
        <div class="me-5 d-none d-lg-block">
          <span>Get connected with us on social networks:</span>
        </div>
        <!-- Left -->

        <!-- Right -->
        <div>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-google"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-github"></i>
          </a>
        </div>
        <!-- Right -->
      </section>
      <!-- Section: Social media -->

      <!-- Section: Links  -->
      <section class="">
        <div class="container text-center text-md-start mt-5">
          <!-- Grid row -->
          <div class="row mt-3">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <!-- Content -->
              <h6 class="text-uppercase fw-bold mb-4">
                <i class="fas fa-gem me-3"></i>Love Saathi
              </h6>
              <p>
                Let us help you write your love story
              </p>
            </div>
            <!-- Grid column -->

            

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">
                Useful links
              </h6>
              <p>
                <a href="#!" class="text-reset">Pricing</a>
              </p>
              <p>
                <a href="#!" class="text-reset">About us</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Privacy policy</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Help</a>
              </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
              <p><i class="fas fa-home me-3"></i>  Solapur</p>
              <p>
                <i class="fas fa-envelope me-3"></i>
                info@example.com
              </p>
              <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
              <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
        </div>
      </section>
      <!-- Section: Links  -->

      <!-- Copyright -->
      <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2023 Copyright:
        <a class="text-reset fw-bold" href="/">MatchHUB</a>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  </footer>
</body>

</html>